/venv
/workspace.xml
.idea
__py
#old generated tex stuff
/plots
/tables
/report/*.log
/report/*.out
/report/*.toc
/report/*.pdth
/report/*.bbl
/report/*.aux
/report/*.bfc
/report/*.blg
/report/*.run.xml